/3/.vscode
3/CMakeLists.txt
3/CMakePresets.json
/3/out
/4/problem4/.vs
/4/problem4/problem4/bin
/4/problem4/problem4/obj
/1/.vscode
1/CMakeLists.txt
/1/out
1/CMakePresets.json
/4/problem4/problem4/Properties
4/problem4/problem4/problem4.csproj.user
/8/.vscode
8/CMakeLists.txt
8/CMakePresets.json
/8/out
/2/.vscode
2/CMakePresets.json
2/CMakeLists.txt
/2/out
